@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style-type:none;
    appearance: none;
    text-decoration: none;
}
:root {
    --color-primary: #7380ec;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-danger: #ff7782;
    --color-primary-variant: #111e88;
    --color-white: #fff;
    --color-dark: #363949;
    --color-dark-variant: #677483;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --font:'Pinyon Script', cursive;
    --box-shadow: 0 2rem 3rem var(var(--color-light));
}

/* dark theme variables */

.dark-theme-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}
body{
    font-family: var(--font);
}
header{
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

nav{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: 9rem;
    background-color: none;
}

.logo h1{
    color: var(--color-primary);
    font-family: 'Oleo Script', cursive;
}

.logo h1:hover{
    color: var(--color-success);
}

nav ul{
    display: flex;
    gap: 3rem;
}

nav ul li a{
    color: var(--color-primary);
    font-size: medium;
    font-size: 2rem;
}

nav ul li a:hover{
    color: var(--color-success);
}

nav .btn{
    margin-right: 9rem;

}

nav .btn i{
    display: none;
}

nav .btn button{
    border: none;
    background: var(--color-primary);
    border-radius: 1rem;
    padding: 4px 10px;
    color: var(--color-warning);
    font-size: 2rem;
    font-family: var(--font);
}
nav .btn button:hover{
    background-color: transparent;
    border: 3px solid var(--color-primary);
}

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
}

.left{
    display: grid;
    place-items: center;
    width: 30vw;
    margin-top: 14rem;
    margin-left: 15rem;
}

.right{
    width: 40vw;
    display: grid;
    place-items: center;
    width: 20vw;
    margin-top: 10rem;
    margin-right: 35rem;
}

.right img{
    width: 30vw;
    padding: 2rem;
}
.about-text {
    color: var(--color-);
    font-family: var(--font); 
    font-size: 80px;
    text-align: center; 
  }
.right .social{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    gap: 2rem;
}
.social img{
    width: 3rem;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid var(--color-primary);
}
.left .btn{
    border: none;
    background: var(--color-primary);
    border-radius: 1rem;
    padding: 4px 10px;
    color: var(--color-warning);
    font-size: 2rem;
    font-family: var(--font);
    margin-top: 4rem;
}
.left .btn:hover{
    background-color: transparent;
    border: 3px solid var(--color-primary);
    color: black;
}

section .title{
    display: flex;
    justify-content: center;
    font-family: 'Oleo Script', cursive;
}

.title h1{
    border-bottom:  1px solid var(--color-primary);
    padding-left: 2rem;
    padding-right: 2rem;
}
  section {
    height: 100vh;
    width: 100%;
    display: grid;
    margin-top: -35rem;
    place-items: center;
  }
  .column{
    width: 90vw;
    height: 70vh;
    margin-top: -12rem;
  }

  .services{
    margin-top: -8rem;
  }

  .row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .service{
    display: grid;
    place-items: center;
    border-radius: 3rem;
    padding: 2rem;
    margin: 2rem;
    background-color: #c7cbf3;
    border: none;

  }
  .service img{
    width: 5rem;
    border-radius: 50%;
    margin-bottom: 2rem;
    
  }
  .service h3{
    margin-bottom: 2rem;
    font-size: 25px;
  }
  .service p{
    text-align: center;
    font-size: 14px;
    color: var(--color-dark-variant);
    font-family: 'Oleo Script', cursive;
  }

  .service:hover{
    border: 2px solid var(--color-primary);
    background-color: transparent;
  }
  .service:hover h3{
    color: var(--color-primary);
  }
  .experience{
    height: 100vh;
    width: 100%;
    display: grid;
    margin-top: -50rem;
    place-items: center;
  }
  .form{
    margin-top: -30rem;
    width: 80;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    transition: all 3s ease;

  }
  .form .right-form{
    background-color: #c7cbf3;
    width: 30vw;
    padding: 3rem;
    display: grid;
    place-items: center;
    gap: 5rem;
    border-radius: 4rem;
    height: 40vh;
  }
  .form .left-form{
    background-color: #c7cbf3;
    width: 30vw;
    display: grid;
    place-items: center;
    border-radius: 4rem;
    height: 40vh;
  }
  .form .left-form form{
    width: 100%;
    height: 80%;
    display: grid;
    place-items: center;
  }
  .form .left-form form input{
    display: flex;
    justify-content: center;
 /*    margin-left: 50%; */
    width: 85%;
    margin-left: 5%;
    text-align: center;
    height: 2rem;
    margin: 3rem;
    border-radius: var(--border-radius-3);
    border: none;
    font-family: var(--font);
    font-size: 2rem;
  }

  .form .left-form textarea{
    display: flex;
    justify-content: center;
 /*    margin-left: 50%; */
    width: 85%;
    margin-left: 5%;
    text-align: center;
    height: 9rem;
    margin: 3rem;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-3);
    border: none;
    font-family: var(--font);
    font-size: 2rem;
    resize: none;
  }
  fieldset{
    text-align: center;
    font-size: 2rem;
    border-radius: 4rem;
    border: 2px solid var(--color-primary);
    margin-top: -2rem;
    width: 90%;
  }
  form button{
    border: none;
    border-radius: 2rem;
    font-size: 2rem;
    padding: .3rem 2rem .3rem 2rem;
    font-family: var(--font);
    margin: .4rem;
    text-align: center;
  }
  form button:hover{
    background: var(--color-success);
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em 3em;
    }

  }

@media only screen and (max-width: 1200px) {
    .left .btn{
        margin-left: 14rem;
    }
    .right img{
        width: -15rem;
    }
}

@media only screen and (max-width: 768px){
    nav .logo{
        display: none;
    }
    nav ul{
        display: block;
        background-color: var(--color-primary);
        height: 20rem;
        margin-top: 5rem;
        margin-left: 3rem;
        border-radius: 3rem;
    }

    nav ul li a{
        color: white;
        margin: 3rem;
    }

    nav .btn button{
        display: none;
    }

    nav .btn i{
        display: block;
    }
    nav .btn .close{
        display: none;
    }
    .header{
        min-height: 100vh;
    }
    .home{
        margin-top: -10rem;
        display: grid;
        place-items: center;
        width: 100%;
        gap: -2rem;
}
        .left .about-text{
            padding: 2rem;
            width: 100%;
        }

        .left .btn{
         position: absolute;
         margin-left: 4rem;
        }

        .right{
            margin-top: 1rem;
        }
        .right img{
            width: 40rem;
        }
        section {
            padding: 0 2em;
          }
          .column {
            flex: 0 50%;
            max-width: 50%;
          }
          .row{
            margin-top: 3rem;
          }
          .testimonials{
            margin-top: 3rem;
          }
}
